<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<p th:utext="#{list.name}">
</p>
	<div>
		<tbody>
			<tr th:each="row : ${members}">
				<td th:text="${row.orgId}">test</td>
				<td>
				<div th:if="${row.orgId == 30151}">
					<tbody>
						<tr th:each="sport : ${row.memberOrgSports}">
							<td th:text="${sport.id.sportCode}">
							</td>
						</tr>
					</tbody>
				</div>	
				</td>
			</tr>
		</tbody>
	</div>

</body>

</html>